.my-card{
    width:200px;
    height: 200px;
    background-color: rgb(18, 183, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}